{{#each messages}}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{this}}
</div>
{{/each}}
<div class="page-header">
    <h1>{{recipe.name}} - Részletes recept</h1>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">{{recipe.name}}</h3>
  </div>
  <div class="panel-body">
    <p class="text-warning">Hozzávalók:</p>
    {{#each ingredients}}
      <p class="ingredient-list"><span class="elem">{{this.content}}</span> 
      (<a class="ingredient-modify" href="/ingredients/modify/{{this.id}}">Módosít</a>) 
      (<a class="ingredient-del" href="/ingredients/delete/{{this.id}}">Töröl</a>)</p>
    {{/each}}
    <p>(<a id="ingredient-new" href="/ingredients/new?id={{recipe.id}}">Új hozzávaló</a>)</p>
    <hr />
    <p class="text-warning">Elkészítés:</p>
    {{{recipe.descriptionHTML}}}
  </div>
</div>
<p><a href="/recipes/list" class="btn btn-success">Vissza</a></p>